@model PageViewModel

@{
    ViewBag.PageTitle = Model.Title;
}

@section navbar
{
    @if (Request.IsAuthenticated)
{

        <ul class="nav pull-right">
            <li><a href="@Url.Action("Edit", "Page", new {id = Model.Id, Area = Constants.Areas.Admin})">Edit Page</a></li>
        </ul>
}
}

@Model.Body