@model PageInputModel

<div class="page-header1">
    <div class="row-fluid">
        @Html.TextBoxFor(x => x.Title, new { placeholder = "Title" })
        @Html.TextBoxFor(x => x.Slug, new {})
        <button type="submit" class="hide btn btn-primary btn-large"><i class="icon-save"></i> Update Page</button>
        <a href="@Url.Action("Display", "Page", new { slug = Model.Slug, area = "" })" class="btn btn-large hide"><i class="icon-undo"></i> Cancel</a>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        @Html.EditorFor(x => x.Body)
    </div>
    <div class="span6">
        <div id="preview"></div>
    </div>
</div>