@model PostInputModel

@{
    ViewBag.PageTitle = "Create";
}

@section head
{
    @Styles.Render("~/Scripts/redactor/redactor.css")
}

<div class="page-header">
    <h1>Create Post</h1>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.EditorForModel()
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large"><i class="icon-save"></i> Create Post</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/Scripts/redactor/redactor.js")
    <script type="text/javascript">
        $(function () {
            $('textarea').redactor();
        });
    </script>
}